*~
O.*/
*.swp
*_BAK.adl
/bin/
/db/
/dbd/
/html/
/include/
/lib/
/templates/
cdCommands
envPaths
dllPath.bat
runIOC.bat
runIOC.sh
relPaths.sh
.project
*.vcxproj.user
.vs/
*.o
*.d
/vendor/SeaBreeze/lib/
/vendor/SeaBreeze/os-support/windows/VisualStudio20*/VSProj/x64/
/vendor/SeaBreeze/os-support/windows/VisualStudio20*/VSProj/Debug/
/vendor/SeaBreeze/os-support/windows/VisualStudio20*/VSProj/Release/
/vendor/SeaBreeze/os-support/windows/VisualStudio20*/x64/
/vendor/SeaBreeze/os-support/windows/VisualStudio20*/Debug/
/vendor/SeaBreeze/os-support/windows/VisualStudio20*/Release/
UpgradeLog.htm
/vendor/SeaBreeze/sample-code/c/
/vendor/SeaBreeze/sample-code/cpp/
/vendor/SeaBreeze/test/api_test
/vendor/SeaBreeze/test/seabreeze_test_posix

