*~
O.*/
*.swp
*_BAK.adl
/bin/
/db/
/dbd/
/html/
/include/
/lib/
/templates/
cdCommands
envPaths
dllPath.bat
runIOC.bat
runIOC.sh
relPaths.sh
.project
*.vcxproj.user
.vs/
*.o
*.d
/vendor/SeaBreeze/lib/
/vendor/SeaBreeze/os-support/windows/VisualStudio2017/VSProj/x64/
/vendor/SeaBreeze/os-support/windows/VisualStudio2017/x64/
/vendor/SeaBreeze/os-support/windows/VisualStudio2017/Debug/
/vendor/SeaBreeze/os-support/windows/VisualStudio2017/Release

